:root {
    --main-background: rgb(56, 122, 90);
    --button-color: rgb(0, 60, 0);
    --button-hover: rgb(31, 99, 83);
    --button-text: white;
    --border-color:rgb(0, 60, 0);
    --background-comp: rgb(240, 226, 191);
    --p-text-size: 25px;
    --h2-text-size: 70px;
    --general-font-color: rgb(0, 0, 0);
    --answer-choice-size: 55px;
}

/* Main Settings */
.pageBackground {
    background: var(--main-background);
    height: 120vh;
}

.folderBG {
    height: 79vh;
    padding: 0;
    background: rgb(240, 226, 191);
    box-shadow: 10px 10px 12px var(--border-color);
}

.tabShadow {
    box-shadow: 0px -3px 5px var(--border-color);
}

.imgShadow {
    box-shadow: 7px 5.5px 13px 2px rgb(34, 33, 33);
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    padding-right:10px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    background-color: rgb(240, 226, 191) ;
}
.imgShadowLinked {
    box-shadow: 7px 5.5px 13px 4px rgb(34, 33, 33);
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    padding-right:5px;
    padding-left:5px;
    padding-top:2px;
    padding-bottom:2px;
    background-color: rgb(235, 187, 28);
}

.nameHeader{
    color: white;
    font-weight: bold;
    
}

.spanHeader{
    color: rgb(235, 187, 28);
    font-weight: bold;
    
}


.generalText{
    color:var(--general-font-color);
    font-weight: bold;
}

.pageHeaderText{
    color:var(--general-font-color);
    font-weight: bolder;
}



/* Navigation */
.tabs{
    background: rgb(235, 187, 28);
}

.activeTab{
    background: rgb(240, 226, 191);
    font-weight: bold;
}

.defaultTab{
    color: white;
    font-weight: bold;
}

.tabBorder{
    border-right: 3px solid var(--main-background);
}

.navbarBorder{
    border-bottom:0;
    padding-bottom: 0;
    margin-bottom: 0;
}



/* About Me */
.circle
{
  width:150px;height:150px;
  border: solid 5px var(--main-background);
  background-color: rgb(26, 26, 8);
  box-shadow: 4px 4px 10px rgb(141, 135, 120);
  border-radius:200px;
}



/* Portfolio */
.breakingSpan::after{
    content: "\a";
    white-space: pre;
}


.folioImgBorder{
    border: 5px solid var(--main-background);
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--border-color);
    
}

/* Contact */
.submitButton{
    background-color: rgb(235, 187, 28);
    border-radius: 5px;
    box-shadow: 2px 3px 10px rgb(141, 135, 120);
}

.formFieldColor{
    box-shadow: 3px 4px 1px rgb(224, 214, 189);
}




/* Footer */
.footBorder{
    border-top: 6px dashed rgb(235, 187, 28);
    height: auto;
    padding-top: 7px; 
    padding-bottom: 3px; 
    margin-left: 1px; 
    margin-right: 1px; 
}




.sampleColor{
    background: var(--border-color);
}

.sampleBackground{
    background: purple;
}







