:root {
    --main-background: rgb(23, 126, 77);
    --button-color: rgb(0, 60, 0);
    --button-hover: rgb(31, 99, 83);
    --button-text: white;
    --border-color:rgb(0, 60, 0);
    --background-comp: rgb(240, 226, 191);
    --p-text-size: 25px;
    --h2-text-size: 70px;
    --general-font-color: rgb(0, 0, 0);
    --answer-choice-size: 55px;
}

/* Main Settings */
.pageBackground {
    background: var(--main-background);
    height: 100vh;
}

.folderBG {
    height: 80vh;
    padding: 0;
    background: rgb(240, 226, 191);
}

.nameHeader{
    color: white;
    font-weight: bold;
}

.spanHeader{
    color: rgb(235, 187, 28);
    font-weight: bold;
}




/* Navigation */
.tabs{
    background: rgb(235, 187, 28);
}

.activeTab{
    background: rgb(240, 226, 191);
    font-weight: bold;
}

.defaultTab{
    color: white;
    font-weight: bold;
}

.tabBorder{
    border-right: 3px solid var(--main-background);
}

.navbarBorder{
    border-bottom:0;
    padding-bottom: 0;
    margin-bottom: 0;
}




/* Footer */
.extraMargin{
    margin-bottom: 100px;
    padding-bottom: 5%;
    
}

.footBorder{
    border-top: 6px dotted var(--border-color);
    padding-top: 10px;
    margin-right: 1px;
    margin-left: 1px;
}




.sampleColor{
    background: var(--border-color);
}

.sampleBackground{
    background: var(--border-color);
}



